<!DOCTYPE html>

<html>

<head>
    <title>Portfolio</title>
</head>

<body>
<ul>

{{#arrOfProjects}}
    <li style="font-size:30px;"><a href="{{link}}">{{name}}</a></li>
    {{/arrOfProjects}}

</ul>


</body>
</html>
